html,body{
  height:100%;
  margin:0;
  padding:0;
  border:0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}


.carousel{
  position:relative;
  display:block;
  width:80%;
  height:300px;
  border:1px solid #666;
  white-space:nowrap;
  font-size:0;
  overflow:hidden;

  margin:8px;

/*   width:40%;
  margin-left:40%; */

}


/* Panel */
.carousel .panels{
  display:block;
  width:100%;
  height:100%;
  z-index:20;
}

.carousel .panels > *{
  display:inline-block;
  margin:0;
  padding:0;
  border:1px solid red;
  width:100%;
  height:100%;
  overflow:hidden;
  font-size:13px;
}
.carousel .panels > *.panel:nth-child(1){
  margin-left:-100%;
}


/* Control */
.carousel .control{
  position:absolute;;
  z-index:10;
  width:100%;
  height:100%;
}

/* Button */
.carousel .control .button[data-button="prev"],
.carousel .control .button[data-button="next"]{
  position:absolute;
  width:40px;
  height:40px;
  border:1px solid #666;
  background-color:#666;
  border-radius:50%;
  top:calc(50% - 20px);
  cursor:pointer;
}
.carousel .control .button[data-button="prev"]:hover,
.carousel .control .button[data-button="next"]:hover{
  opacity:0.5;
}
.carousel .control .button[data-button="prev"]{
  left:4px;
}
.carousel .control .button[data-button="next"]{
  right:4px;
}

/* Pagenation */
.carousel .control .pagenation{
  position:absolute;
  bottom:0;
  left:50%;
  display:inline-block;
  transform : translate(-50%,0);
}
.carousel .control .pagenation .point{
  display : inline-block;
  width   : 10px;
  height  : 10px;
  margin:4px;
  padding:0;
  border:2px solid #666;
  border-radius : 50%;
  background-color : #666;
  cursor:pointer;
}
.carousel .control .pagenation .point:hover,
.carousel .control .pagenation .point[data-current="1"]:hover{
  /* opacity : 0.5; */
  /* background-color:red */
  border-color:red;
}
.carousel .control .pagenation .point[data-current="1"]{
  border:2px solid #666;
  background-color:white;
}



